<template name="Cart">
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s10 offset-s1">
          <ul class="collection">
            {{#each cats}}
              {{> CatInCart}}
            {{/each}}
            <li class="collection-item">
              {{#if total}}
                <button class="btn orange btn-large waves-effect left" id="checkout">
                  <i class="material-icons left">shopping_basket</i>Checkout
                </button>
                <p class="secondary-content orange-text right-align" style="font-size: 1.5em;">{{FormatMoney total}}</p>
              {{else}}
                <p class="center-align">Cart is empty, you can continue shopping!</p>
              {{/if}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>