<template name="CatInCart">

  <li class="collection-item avatar">
    <a href="/cat/{{_id}}">
      <img src="{{image}}" class="circle">
      <span class="title">{{name}}</span>
    </a>
    <p>
      {{FormatPlural age "year"}} old
      <br>
      {{color}}
    </p>
    <span class="secondary-content orange-text" style="font-size: 1.5em;">{{FormatMoney price}}</span>
    <button class="btn btn-flat waves-effect secondary-content" style="border-radius: 50%; top: 41px; padding: 0 8px;">
      <i class="material-icons grey-text">delete</i></button>
  </li>

</template>