<template name="Filters">
  <form>
    <ul class="collection z-depth-1">
      <li class="collection-item">
        <p>Price range:</p>
        <div class="row" style="margin-bottom: 0">
          <div class="input-field col s6">
            <input min="{{priceMin}}" max="{{priceMax}}" placeholder="{{priceMin}}" id="pricefrom" type="number">
            <label for="pricefrom">From</label>
          </div>
          <div class="input-field col s6">
            <input min="{{priceMin}}" max="{{priceMax}}" placeholder="{{priceMax}}" id="priceto" type="number">
            <label for="priceto">To</label>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <p>Age:</p>
        <div class="row" style="margin-bottom: 0">
          <div class="input-field col s6">
            <input min="{{ageMin}}" max="{{ageMax}}" placeholder="{{ageMin}}" id="agefrom" type="number">
            <label for="agefrom">From</label>
          </div>
          <div class="input-field col s6">
            <input min="{{ageMin}}" max="{{ageMax}}" placeholder="{{ageMax}}" id="ageto" type="number">
            <label for="ageto">To</label>
          </div>
        </div>
      </li>
      <li class="collection-item">
        <p>Only sterile:</p>
        <p class="switch">
          <label>
            No
            <input type="checkbox" id="sterile">
            <span class="lever"></span>
            Yes
          </label>
        </p>
      </li>
      <li class="collection-item">
        <p>Size:</p>
        {{#each size in sizes}}
          <p>
            <input type="radio" class="with-gap" name="sizes" id="size-{{size}}" value="{{size}}" />
            <label for="size-{{size}}" class="black-text">{{size}}</label>
          </p>
        {{/each}}
      </li>
      <li class="collection-item">
        <p>Fur density:</p>
        <p>
          <select id="furdensity">
            <option value="any" selected>any</option>
            {{#each furDensity in furDensities}}
              <option value="{{furDensity}}">{{furDensity}}</option>
            {{/each}}
          </select>
        </p>
      </li>
      <li class="collection-item">
        <p>Fur color:</p>
        {{#each color in colors}}
          <p>
            <input type="checkbox" class="with-gap" name="colors" id="color-{{color}}" value="{{color}}" />
            <label for="color-{{color}}" class="black-text">{{color}}</label>
          </p>
        {{/each}}
      </li>
      <li class="collection-item center-align">
        <button type="reset" class="btn btn-flat waves-effect" style="width: 100%">Reset filters</button>
      </li>
    </ul>
  </form>
</template>