<template name="Nav">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="logo">Cats For Everyone</a>
      <ul class="right">
        <li>
          <a href="/cart" class="waves-effect"><i class="large material-icons left">shopping_cart</i>
            {{#if cartCount}}
              <span class="badge blue white-text" data-badge-caption="items">{{FormatPlural cartCount "cat"}}</span>
              in cart
            {{else}}
              Cart is empty
            {{/if}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</template>